@using SampleDemo.Controllers
@{
    ViewBag.Title = "Home Page";
}
<br />

@*@ViewBag.stuList*@

@*@ViewData["demo"]
    @ViewBag.data1*@

@*@ViewData["lstStudent"]*@

@*@{

    string str = Convert.ToString(TempData["tmpData"]);
    @str
}
<br />
@{

    string str2 = Convert.ToString(TempData["tmpData"]);
    @str2
}*@

<script type="text/javascript">
const { data } = require("jquery");

    function Submit() {
        debugger;
       // new Student(){ StudentID = 1, StudentName = "Steve", Age = 21 },

        var username = $("#txtName").val();

        var stuID = $("#txtID").val();
        var stuName = $("#txtName").val();
        var stuAge = $("#txtAge").val();



        //var objStudent = {
        //    StudentID: '1', StudentName: 'Rajesh', Age: '22'
        //};

        var objStudent = {
            StudentID: stuID, StudentName: stuName, Age: stuAge 
        };

        var obj1 = JSON.stringify(objStudent);
        $.ajax({
            method: "POST",
            url: "/Home/Index",
            data:objStudent,

            success: function (obj) {
                debugger;
                alert(obj);
            }
        })
            //.done(function (msg) {
            //    alert("Data saved: " + msg);
            //});
    }
</script>

<div class="row">
    <br />
    <br />
    <br />
    StudentID : <input type="text" id="txtID" /><br />  
    Name : <input type="text" id="txtName" /><br /> 
    Age : <input type="text" id="txtAge" /><br /> 
    <br />
    <input type="submit" onclick="Submit()" id="btnSubmit" />
    <br />


</div>


<br />

<br />
@*@foreach(Student str in ViewBag.stuList)
      {
        int id = str.StudentID;
        string name = str.StudentName;
        int age = str.Age;

           <input type="text" value="@id" />
           <input type="text" value="@name"/>
           <input type="text" value="@age"/>
           <br/>
    }*@

@*@foreach (Student str in ViewData["lstStudent"] as List<Student>)
    {


        <input type="text" value="@str.StudentID" />
        <input type="text" value="@str.StudentName" />
        <input type="text" value="@str.Age" />
        <br />
    }*@




<br />



<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>